footer {
    background-color: var(--color-white);
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* display: grid; */
    display: grid;
    place-items: center;
    border-top: 1px solid var(--color-border);
}