.main-header {
    background-color: var(--color-white);
    height: 70px;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
}

.logo {
    background-image: url("../images/logo.png");
    background-position: center;
    left: 20px;
    background-repeat: no-repeat;
    width: 140px;
    height: 70px;
}