.places {
    text-align: center;
    margin: auto;
    display: block;
}

.places h1 {
    padding-top: 5%;
    font-size: 30px;
    text-align: left;
    vertical-align: text-top;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}